@import '../../styles/variables.module.scss';
@import '../../styles/mixin.module.scss';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: $subFont;
  color: $white;
  font-weight: 400;

  border-radius: 0.8rem;

  min-width: 10rem;
  width: 10rem;
  padding: 0.5rem 0;
  font-size: 1.4rem;
}
