$black: #000000;
$white: #ffffff;
$blue: #010a1d;
$pink: #e300b8;
$grey: #dddddd;
$lightgrey: #f2f2f2;
$baseFont: 'Poppins', sans-serif;
$subFont: 'Roboto', sans-serif;

$screen-xs: 320px;
$screen-s: 410px;
$screen-m: 768px;
$screen-l: 1024px;
$screen-xl: 1400px;
$screen-xxl: 1600px;
$screen-xxxl: 1700px;
$screen-max: 3400px;

$screen-tall-l: 768px;
$screen-tall-xl: 875px;
$screen-tall-xxl: 1001px;
